/*
 (Standart CSS reset uchun)
 */

/* 1. google fonst */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* 2. root */

:root {

    /* Main color */
    --background: #F4F4F2;
    --background-text: #291E0F;
    --surface: #FFFFFF;
    --surface-text: #414141;
    --primary: #FF6633;
    --primary-text: #FFFFFF;
    --secondary: #70C05B;
    --secondary-text: #FFFFFF;

    /* GRAYSCALE */
    --lightest: #F3F2F1;
    --light: #BFBFBF;
    --hard: #8F8F8F;
    --hardest: #606060;


    /* PALLETE */
    --success: #008C49;
    --info: #1CB9FC;
    --warning: #FCA21C;
    --error: #FF3D00;

    /* font-famely */
    --Rubik-font: 'Rubik', sans-serif;
    --Montserrat-font: 'Montserrat', sans-serif;
    --Apple-font: 'Apple', sans-serif;



    /* font-weight */
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;


    /* inle-height */
    --line-height-1: 1.2;
    --line-height-2: 1.4;
    --line-height-3: 1.6;
    --line-height-4: 1.8;
    --line-height-5: 2.0;
    --line-height-6: 2.2;
    --line-height-7: 2.4;
    --line-height-8: 2.6;


    /* border */
    --border-radius-1: 0px;
    --border-radius-2: 2px;
    --border-radius-3: 4px;
    --border-radius-4: 6px;
    --border-radius-5: 8px;
    --border-radius-6: 10px;
    --border-radius-7: 12px;
    --border-radius-interest-1: 50%;
    --border-radius-interest-2: 100%;

    /* box-shadows */
    --box-shadow-1: 1px 2px 4px 0px #0000001A;
    --box-shadow-2: 2px 4px 8px 0px #0000001A;
    --box-shadow-3: 4px 8px 16px 0px #0000001A;
    --box-shadow-4: 8px 16px 32px 0px #0000001A;
    --box-shadow-5: 16px 32px 64px 0px #0000001A;


    /* font-size */
    --font-size-12-px: 12px;
    --font-size-14-px: 14px;
    --font-size-16-px: 16px;
    --font-size-18-px: 18px;
    --font-size-20-px: 20px;
    --font-size-22-px: 22px;
    --font-size-24-px: 24px;
    --font-size-26-px: 26px;
    --font-size-28-px: 28px;
    --font-size-30-px: 30px;
    --font-size-32-px: 32px;
    --font-size-34-px: 34px;
    --font-size-36-px: 36px;
    --font-size-38-px: 38px;
    --font-size-40-px: 40px;
    --font-size-42-px: 42px;
    --font-size-44-px: 44px;
    --font-size-46-px: 46px;
    --font-size-48-px: 48px;
    --font-size-50-px: 50px;
    --font-size-52-px: 52px;
    --font-size-64-px: 64px;


    /* gap */
    --gap-2-px: 2px;
    --gap-4-px: 4px;
    --gap-6-px: 6px;
    --gap-8-px: 8px;
    --gap-10-px: 10px;
    --gap-12-px: 12px;
    --gap-14-px: 14px;
    --gap-16-px: 16px;
    --gap-18-px: 18px;
    --gap-20-px: 20px;
    --gap-22-px: 22px;
    --gap-24-px: 24px;
    --gap-26-px: 26px;
    --gap-28-px: 28px;
    --gap-30-px: 30px;
}
