/*
 (Standart CSS reset uchun)
 */

/* 1. google fonst */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* 2. root */

:root {

    /* Main color */
    --background: #F4F4F2;
    --background-text: #291E0F;
    --surface: #FFFFFF;
    --surface-text: #414141;
    --primary: #FF6633;
    --primary-text: #FFFFFF;
    --secondary: #70C05B;
    --secondary-text: #FFFFFF;

    /* GRAYSCALE */
    --lightest: #F3F2F1;
    --light: #BFBFBF;
    --hard: #8F8F8F;
    --hardest: #606060;


    /* PALLETE */
    --success: #008C49;
    --info: #1CB9FC;
    --warning: #FCA21C;
    --error: #FF3D00;

}