@media(max-width: 1200px) {}

@media(max-width: 1100px) {}

@media(max-width: 992px) {
    .logo {
        flex: 0;
    }

    .logo h1 {
        display: none;
    }

    .head-btn .head-btn__catalog h1 {
        display: none;
    }


    .head-max-containe {
        gap: var(--gap-20-px);
    }

    .sort-content p,
    .product-content p,
    .basket-content p {
        font-size: var(--font-size-12-px);
    }

    .catalog-content {
        grid-template-columns: repeat(auto-fit, minmax(220px, 4fr));
    }

    .Special-offers-r-content h1 {
        font-size: var(--font-size-20-px);
        font-weight: var(--font-weight-500);
        color: var(--primary-text);
    }

    .Special-offers-l-btn,
    .Special-offers-r-btn {
        width: 150px;
        height: 40px;
        font-size: var(--font-size-14-px);
    }

}

@media(max-width: 768px) {
    .home .home-max-container {
        gap: 0px;
    }

    .catalog-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
    }

    .catalog-title {
        height: 75px;
    }

    .user-profile {
        display: none;
    }

    .account-user {
        justify-content: end;
        flex: 0.6;
    }

    .Special-offers {
        flex-direction: column;
    }
}

@media(max-width: 689px) {
    .articles {
        flex-direction: column;
    }

    .article-card {
        width: 100%;
    }
}

@media(max-width: 576px) {
    .head-btn .head-btn__catalog {
        display: none;
    }

    .account-user {
        display: none;
    }

    .head-btn {
        flex: 1;
    }

    .home .home-max-container {
        flex-direction: column;
    }

    .catalog-content {
        grid-template-columns: repeat(auto-fit, minmax(180px, 4fr));
    }

    .map-html-content h1 {
        font-size: var(--font-size-30-px);
    }
}

    @media(max-width: 480px) {
        .home .home-max-container .home-img {
            display: none;
        }

        .home .home-max-container .home-content-left h1 {
            font-size: var(--font-size-30-px);
            text-align: center;
        }

        .product {
            height: 280px;
        }

        .With-map h1,
        .Regular h1 {
            font-size: var(--font-size-16-px);
            font-weight: var(--font-weight-500);
            color: var(--background-text);
        }


        .With-map p,
        .Regular p {
            font-size: var(--font-size-12-px);
            font-weight: var(--font-weight-300);
            color: var(--background-text);
        }

        .product .product-main .product-name p {
            font-size: var(--font-size-14-px);
        }

        .product .product-main .product-rating span {
            font-size: var(--font-size-12-px);
        }

        .product .product-main .add-product-basket__btn {
            font-size: var(--font-size-12-px);
            height: 30px;
        }

        .catalog-content {
            grid-template-columns: repeat(auto-fit, minmax(170px, 4fr));
        }

    }

    @media(max-width: 400px) {
        .catalog-content {
            grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
            gap: var(--gap-10-px);
        }
    }

    @media(max-width: 360px) {
        .product {
            height: 350px;
        }
    }